.bg_my_nav{
   font-size:25px;
   background-color:rgb(6, 83, 32);
}
.img{
    margin-left:20px;
    margin-top:35px;
    margin-bottom:35px;
    height: 320px;
    width: 350px;
    border-radius: 15px;
    float:left;
}
.about_me{
    overflow: hidden;
}
body{
    background-color:rgb(59, 230, 187);
}
.about_me_info{
    margin-left: 10px;
    margin-right: 10px;
}
.about_me_info{
    float: right;
    width: 70%;
    margin-top:90px;
    margin-right:150px;
}
p{
    font-size:24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600px;
    padding-left:35px;
}
.my_row{
    margin-top:25px;
    margin-bottom:25px;
    margin-left:20px;
}
.card_img{
    height: 22rem;
}
.my_card{
    width: 35rem;
    height:40rem;
}
h5{
    font-size:30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    letter-spacing: 5px;
}
.btn{
    width: 100%;
}
.my_bnt{
    margin-top: 36px;
}
.icons ul li {
    list-style-type: none;
    display: inline;
    margin-left:40px;
}
h2{
    text-align:center;
    font-size:40px;
    letter-spacing:15px;
}
.btn{
    letter-spacing: 20px;
    font-size:24px;
}
.card_plus{
    font-size:10px;
    letter-spacing:1px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    width: 8em;
    height: 8em;
}
.group{
    padding-left: 770px;
}
@media (max-width:1900px){
    .group{
        padding-left: 700px;
    }
}
@media (max-width:1820px){
    .group{
        padding-left: 600px;
    }
}
 @media (max-width:1720px){
    .group{
        padding-left: 500px;
    }
}
@media (max-width:1620px){
    .group{
        padding-left: 400px;
    }
}
@media (max-width:1520px){
    .group{
        padding-left: 300px;
    }
}
@media (max-width:1420px){
    .group{
        padding-left: 200px;
    }
}
@media (max-width:1320px){
    .group{
        padding-left: 100px;
    }
}
@media (max-width:1220px){
    .group{
        padding-left: 5px;
    }
    .bg_my_nav{
        font-size:20px;
    }
}
